[Desktop Entry]
Categories=System;
Comment=GXDE Graphics Driver Manager is a compact and easy  to use graphics driver managing tool.
Exec=gxde-graphics-driver-manager
GenericName=Graphics Driver Manager
Icon=gxde-graphics-driver-manager
Name=GXDE Graphics Driver Manager
StartupNotify=true
Terminal=false
Type=Application
X-GXDE-Vendor=GXDE

# Translations:
# Do not manually modify!
Comment[ar]=مدير تعريف رسوميات ديبن هى أداة مدمجة و سهلة الإستخدام لإدارة تعريف الرسومات.
Comment[ast]=GXDE Graphics Driver Manager ye una ferramienta de xestión de controladores gráficos cenciella d'uasr y compauta
Comment[bg]=GXDE диспечер на графичен драйвер е компактен и лесен за използване инструмент за управление на графични драйвери.
Comment[ca]=El Gestor de controladors gràfics del GXDE és una eina de gestió de controladors gràfics compacta i fàcil d'usar.
Comment[cs]=Správce ovladačů grafické karty celistvý a snadno se používající nástroj na správu ovladačů grafických karet.
Comment[da]=GXDE grafikdriver-håndtering er et kompakt og letanvendeligt grafikdriver-håndteringsværktøj.
Comment[de]=Die GXDE Grafiktreiberverwaltung hilft, um sehr einfach die Grafiktreiber zu konfigurieren.
Comment[es]=GXDE Graphics Driver Manager es un compacta e intuitiva herramienta para gestionar controladores gráficos.
Comment[es_419]=Gestor de controladores gráficos GXDE es una herramienta de gestión de controladores de gráficos compacta y fácil de usar.
Comment[fi]=GXDE grafiikkaohjaimen hallinta on pienikokoinen ja helppokäyttöinen näytönohjaimien hallintatyökalu.
Comment[fr]=GXDE Graphics Driver Manager est un outil de gestion des pilotes graphiques léger et facile à utiliser.
Comment[id]=Manajer Driver Grafis GXDE adalah alat yang mengatur grafis yang kompak dan mudah digunakan
Comment[it]=GXDE Graphics Driver Manager è uno strumento di gestione dei driver grafici. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[ko]=GXDE 그래픽 드라이버 관리자는 작고 사용하기 쉬운 그래픽 드라이버 관리 도구입니다.
Comment[lt]=GXDE grafikos tvarkyklių tvarkytuvė yra kompaktiškas ir lengvas naudoti grafikos tvarkyklių valdymo įrankis.
Comment[ms]=Pengurus Pemacu Grafik GXDE ialah alat pengurusan pemacu grafik yang ringkas dan mudah digunakan.
Comment[ne]=ग्राफिक्स ड्राइभर प्रबन्धक एक कम्पैक्ट तथा ग्राफिक्स ड्राइभर उपकरण हो येसलाई प्रयोग गर्न सजिलो छ
Comment[nl]=GXDE Grafisch Stuurprogrammabeheer is een klein, eenvoudig hulpmiddel om stuurprogramma's van grafische kaarten te beheren.
Comment[pl]=Zarządzanie sterownikami graficznymi GXDE to kompaktowe i proste w obsłudze narzędzie zarządzania sterownikami graficznymi.
Comment[pt]=O GXDE Graphics Driver Manager é um gestor de controladores gráficos fácil e compacto.
Comment[pt_BR]=O Gerenciador de Driver Gráfico GXDE é uma ferramenta compacta e fácil de usar.
Comment[ru]=GXDE Graphics Driver Manager - это компактный и простой в использовании инструмент управления графическим драйвером.
Comment[sk]=GXDE Manažér grafického ovládača je kompaktný a ľahko použiteľný nástroj pre správu grafického ovládača.
Comment[sq]=Përgjegjësi GXDE i Përudhësve Grafikë është një mjet kompakt dhe i lehtë për t’u përdorur administrimi përudhësish grafikë
Comment[sr]=Дипин Управник Управљачких Програма је компактан и лак за коришћење алат за управљање управљачим програмима.
Comment[tr]=GXDE Görüntü Aygıtı Sürücüsü Yöneticisi küçük ve basit bir görüntü aygıtı sürücüsü yönetimi aracıdır.
Comment[uk]=Керування графічними картками GXDE — компактний і простий у користуванні засіб для керування драйверами до графічних карток.
Comment[zh_CN]=GXDE 显卡驱动管理器是一款小巧易用的显卡驱动管理工具。
Comment[zh_TW]=GXDE 顯示卡管理器是個嚴謹且易用的顯卡驅動管理程序。
GenericName[ar]=مدير تعريف الرسوميات 
GenericName[ast]=Xestor de controladores gráficos
GenericName[bg]=Диспечер на графичен драйвер
GenericName[ca]=Gestor de controladors gràfics
GenericName[cs]=Správce ovladačů grafické karty
GenericName[da]=Grafikdriver-håndtering
GenericName[de]=Grafiktreiberverwaltung
GenericName[es]=Gestor de controladores gráficos
GenericName[es_419]=Gestor de controladores gráficos
GenericName[et]=Videokaardi draiverite haldamine
GenericName[fi]=Grafiikkaohjaimet
GenericName[fr]=Gestionnaire de pilotes graphiques
GenericName[id]=Manajer Driver Grafis
GenericName[it]=Graphics Driver Manager
GenericName[ko]=그래픽 드라이버 관리자
GenericName[lt]=Grafikos tvarkyklių tvarkytuvė
GenericName[ms]=Pengurus Pemacu Grafik
GenericName[ne]=ग्राफिक्स ड्राइभर प्रबन्धक
GenericName[nl]=Grafisch Stuurprogrammabeheer
GenericName[pl]=Zarządzanie sterownikami graficznymi
GenericName[pt]=Gestor de Controladores Gráficos
GenericName[pt_BR]=Gerenciador de Driver Gráfico
GenericName[ru]=Менеджер Графических Драйверов
GenericName[sk]=Manažér grafického ovládača
GenericName[sq]=Përgjegjës Përudhësish Grafikë
GenericName[sr]=Управник Управљачких Програма
GenericName[tr]=Görüntü Aygıtı Sürücüsü Yöneticisi
GenericName[uk]=Керування драйверами графіки
GenericName[zh_CN]=显卡驱动管理器
GenericName[zh_TW]=顯示卡管理器
Name[ar]=مدير تعريف رسوميات ديبن
Name[ast]=GXDE Graphics Driver Manager
Name[bg]=GXDE диспечер на графичен драйвер
Name[ca]=Gestor de controladors gràfics del GXDE
Name[cs]=Správce ovladačů grafické karty
Name[da]=GXDE grafikdriver-håndtering
Name[de]=GXDE Grafiktreiberverwaltung
Name[es]=GXDE Graphics Driver Manager
Name[es_419]=Gestor de controladores gráficos GXDE
Name[fi]=GXDE grafiikkaohjaimen hallinta
Name[fr]=Gestionnaire de pilotes graphiques GXDE
Name[id]=Manajer Driver Grafis GXDE
Name[it]=GXDE Graphics Driver Manager
Name[ko]=GXDE 그래픽 드라이버 관리자
Name[lt]=GXDE grafikos tvarkyklių tvarkytuvė
Name[ms]=Pengurus Pemacu Grafik GXDE
Name[ne]=डिपिन ग्राफिक्स ड्राइभर प्रबन्धक
Name[nl]=GXDE Grafisch Stuurprogrammabeheer
Name[pl]=Zarządzanie sterownikami graficznymi GXDE
Name[pt]=GXDE Graphics Driver Manager
Name[pt_BR]=Gerenciador de Driver Gráfico GXDE
Name[ru]=Менеджер Графических Драйверов GXDE
Name[sk]=GXDE Manažér grafického ovládača
Name[sq]=Përgjegjës GXDE Përudhësish Grafikë
Name[sr]=Дипин Управник Управљачких Програма
Name[tr]=GXDE Görüntü Aygıtı Sürücüsü Yöneticisi
Name[uk]=Керування драйверами графіки GXDE
Name[zh_CN]=GXDE 显卡驱动管理器
Name[zh_TW]=GXDE 顯示卡管理器

